.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #154360;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 30px;
  font-family: 'Roboto', Arial;
}

.App-intro {
  font-size: large;font-family: 'Montserrat', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.footer {
  display: block;
  position: fixed;
  bottom: 0%;
  right: 50%;
}


.uganda {
  display: inline-block;
  position: fixed;
  bottom: 0%;
  right: 20%;
}

.sweden {
  display: block;
  position: fixed;
  bottom: 0%;
  left: 10%;

}

@media only screen and (max-device-width: 600px) and (min-device-width: 320px){
    .uganda {
        display: block;
        position: fixed;
        bottom: 0%;
        font-size: 10px;
        left: 15%;
    }

    .sweden {
        display: block;
        position: fixed;
        bottom: 15%;
font-size: 10px;
        left: 20%;
    }
    .App-intro {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .App-title {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .footer {
        display: block;
        position: fixed;
        bottom: 0%;
        left: 20%;
    }

}
@media screen and (max-device-height: 400px){
    .uganda {
        display: block;
        position: fixed;
        bottom: 0%;
        font-size: 9px;
        right: 18%;
        top: 75%;
    }

    .sweden {
        display: block;
        position: fixed;
        bottom: 0%;
        font-size: 10px;
        left: 12%;
        top: 75%;
    }
    .App-intro {
        position: fixed;
        display: block;
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
        top: 50%;
    }

    .App-title {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .footer {
        display: block;
        position: fixed;
        bottom: 0%;
        right: 10%;
        background-color: #154360;
    }

}


